  <div class="block help-block">
    <h4 id="help">Donate</h4>
    <p>
      Our project is non-commercial. We're all for the idea, but we have to pay for the server (dayz, site hosting and teamspeak). Therefore, we are always happy penny.
    </p>
    <table class="table table-bordered">
    <thead>

      <tr>
        <th>Method</th>
        <th>Account</th>
      </tr>

    </thead>
    <tbody>
         <tr>
        <td>
         Yandex money
        </td>
        <td>
           410011531499994
        </td>
      </tr>
      <tr>
        <td>
          Alfa-bank account
        </td>
        <td>
           <a href="https://dl.dropboxusercontent.com/u/99062392/alfa-b%20acc.pdf" target="_blank">Bank Details</a>
        </td>
      </tr>
      <tr>
        <td>
           Alfa-bank (card)
        </td>
        <td>
          4154 8169 2791 0419
        </td>
      </tr>

      <tr>
        <td>
          QIWI:
        </td>
        <td>
          +79232940071
        </td>
      </tr>
    <tr>
        <td>
		WebMoney
        </td>
        <td>
		424302298392
	</td>
      </tr>

    </tbody>
    </table>
   <blockquote>
     <small>The fact that you have helped the project does not mean that you will get out from ban or special status on the server. Your assistance helps us to make the server better and remain independent</small>
   </blockquote>
  </div>
