 <div class="block register-block">
  <h4 id="register">Registration</h4>
  <p>
    <a class="btn btn-success" target="_blank" href="http://forum.oplotdayz.ru/index.php?action=register">Create account on our forum </a>
  </p>
  <blockquote>
    <small>You register via steam api. We don't receive your password</small>
  </blockquote>
  <p>
    <img class="img-responsive img-thumbnail" src="img/reg.png" alt="">
  </p>
  <hr>
  <p>
    If you are already registred you must specify <b>steamid</b> </p>
  <p>
    <a class="btn btn-success" href="http://steam.oplotdayz.ru" target="_blank">Get Your Steamid</a>
  </p>
  <p>
    <a class="btn btn-success" target="_blank" href="http://forum.oplotdayz.ru/index.php?action=profile;area=forumprofile">Insert here</a>
  </p>
  <img class="img-responsive img-thumbnail" src="img/steamid.png" alt="">

  <h6>Nickname</h6>
  <p>
    Your nickname must match the  <a target="_blank" href="http://forum.oplotdayz.ru/index.php?action=profile;area=account">specified on the forum</a>
  </p>
  <p>
    <img src="img/nick.png" class="img img-thumbnail" alt="">
  </p>
  <blockquote>
    Sample:<br>
    <b>Nickname:</b> Falcon<br>
    <b>Forum Nickname: </b> Falcon<br>
    <b>Game nickname: </b>Falcon
    <small>Min lenght 4 symbols, only latin</small>
  </blockquote>
</div>
