  <div class="block help-block">
    <h4 id="help">Помощь проекту</h4>
    <p>
      Наш проект некоммерческий. Мы все делаем за идею, но нам надо платить за сервера (Сервер dayz, хостинг сайта и teamspeak ). Поэтому мы всегда рады копеечке.
    </p>
    <table class="table table-bordered">
    <thead>

      <tr>
        <th>Метод</th>
        <th>Счет</th>
      </tr>

    </thead>
    <tbody>
         <tr>
        <td>
          Яндекс деньги (можно переводить со сбербанк.online)
        </td>
        <td>
           410011531499994
        </td>
      </tr>
      <tr>
        <td>
          Счет АльфаБанк
        </td>
        <td>
           <a href="https://dl.dropboxusercontent.com/u/99062392/alfa-b%20acc.pdf" target="_blank">Реквизиты</a>
        </td>
      </tr>
      <tr>
        <td>
           По номеру карты Альфа-банк
        </td>
        <td>
          4154 8169 2791 0419
        </td>
      </tr>

      <tr>
        <td>
          QIWI-кошелек:
        </td>
        <td>
          +79232940071
        </td>
      </tr>
    <tr>
        <td>
		WebMoney кошелек
        </td>
        <td>
		424302298392
	</td>
      </tr>
   
    </tbody>
    </table>
   <blockquote>
     <small>То что вы помогли проекту не означает, что вы получите разбан или особый статус на сервере. Ваша помощь помогает нам делать сервер лучше и оставатся независимыми</small>
   </blockquote>
  </div>
