
    <div class="row links-block">
      <div class="col-xs-3">
        <a class="youtube" href="http://www.youtube.com/channel/UCCqEZLiU6xUxOnNpxgdRo3g"><i class="fa fa-youtube-play"></i> Youtube</a>
      </div>
      <div class="col-xs-3">
         <a class="vk" href="http://vk.com/oplotpublic"><i class="fa fa-vk"></i> VK</a>
      </div>
      <div class="col-xs-3">
        <a class="teamspeak" href="ts3server://109.95.210.167:10387"><i class="fa fa-headphones"></i> Teamspeak</a>
      </div>
      <div class="col-xs-3">
        <a class="forum" href="http://forum.oplotdayz.ru"><i class="fa fa-external-link"></i> Форум</a>
      </div>
    </div>


