<div class="block rules-block">
  <div class="container">
    <h4 id="rules">Правила</h4>
    <h5>РП (RolePlay) - игровой процесс, связанный с сюжетными действами персонажей.</h5>
    <ul>
      <li><a target="_blank" href="http://forum.oplotdayz.ru/index.php?topic=1442.0">Нарушение рп процесса</a></li>
      <li>Запрещено беспричинное убийство игроков. Убийство игрока должно иметь обоснование, сюжетное или идейное. </li>
      <li>Запрещен дюп (клонирование) предметов</li>
      <li>Запрещено ношение "матрёшек", предмет в предмете (разгрузка в рюкзаке, в которой еще что-то лежит... и т.п.)</li>
      <li><a href="#register">Корректная регистрация</a> + Гражданство</li>
      <li>Если игрока 2 раза кикнули по какой-либо причине, четвертый раз - бан</li>
      <li>Если вы получили бан единственное место, где вы можете <a href="http://forum.oplotdayz.ru/index.php?board=39.0" target="_blank">получить разбан</a>. Жалобы в другой раздел снижают ваши шансы примерно до нуля</li>
      <li>Администрация в праве отказать в игре на сервере без объяснения причин.</li>
    </ul>
  </div>
</div>
