<div class="container">
  <div class="block story-block">
    <h4 id="story">Квента</h4>
    <p>
      Квента - это описание персонажа
    </p>
    <p>
      <b>После регистрации вы должны </b>
      <a class="btn btn-success" target="_blank" href="http://forum.oplotdayz.ru/index.php?board=11.0">создать своего первого персонажа</a>
    </p>
    <p>
      Ваша основная цель раскрыть характер персонажа, вам предстоит отыгрывать эту роль. Какие у него цели, какими навыками он обладает. Очень важно, чтобы его история <a href="#lore">соотвествовала миру нашего сервера</a>
    </p>
    <p>
      Как его зовут, что позволило ему пережить день Z? Какие у него слабости, только сочетание слабостей и ограничей создают живой образ. Мы должны после прочтения увидеть его.
    </p>
    <blockquote>
      <small>Совершенно необязательно, чтобы это было огромное художественно произведение</small>
    </blockquote>
    <h3>
      Далее ваша заявка будет рассмотрена, если вы все сделали правильно вы получите статус гражданина и доступ в <a target="_blank" href="http://forum.oplotdayz.ru/index.php?topic=421.0">раздел с паролем/ адресом сервера</a>
    </h3>

    <div class="text-center">
        <h4 style="color: red;">Внимание</h4>
        <b>Администрация </b>не комментирует КВЕНТ
        <p> Вы либо получаете <span style="color: red;">ОТКАЗ </span>либо ПОЛУЧАЕТЕ ГРАЖДАНСТВО</p>
        <p> В случае, если Ваша заявка упала ниже, Вы можете сделать UP, раз в сутки!</p>

    </div>
  </div>
</div>
