<div class="welcome">
  <h2>Добро пожаловать на наш ролевой проект </h2>

  <div class="embed-responsive embed-responsive-16by9">

      <iframe class="embed-responsive-item" src="//www.youtube.com/embed/MwBBwIIgJtM?rel=0" allowfullscreen></iframe>

    </div>


  <p>Чтобы начать играть на нашем сервере внимательно ознакомьтесь со всей информацией</p>
</div>

